.jumbotron {
  margin: 10% auto;
  width: 60%;
}
.jumbotron p {
  padding: 2%;
  color: rgb(21, 144, 226);
}

h1 {
  margin-top: 60px !important;
  color:blueviolet !important;
  font-size: 3.5em !important;
  text-align: center;
}
h3 {
  color: lightseagreen !important;
  font-size: 2.5rem !important;
  text-align: center;
  font-weight: bold !important;
}
.btn-primary {
  width: 100px;
  display: block !important;
  margin: 0 auto !important;
  transition: transform 2s !important;
}
.btn-primary:hover {
  transform: rotate(360deg) !important;
}

.navbar-right {
  right: 10%;
  left: 80%;
  position: absolute;
  bottom: 3%;
  
}

.lifeCont {
  width: 60%;
  height: 20%;
  margin: 0 auto;
  background-color: lightcyan;
}

.life {
  color: grey;
  margin: 10% 0;
  padding: 5%;
}

.c1 {
  margin: 2% 5px 2% 10px;
  background-color: white;
  color: rgb(41, 104, 104) !important;
}
.c2 {
  margin: 2% 5px;
  background-color: grey;
  color: rgb(21, 228, 228) !important;
}
.c3 {
  margin: 2% 5px;
  background-color: lightslategray;
  color: rgb(248, 255, 255) !important;
}
.c4 {
  margin: 2% 5px;
  background-color: rgb(187, 20, 20);
  color: rgb(221, 221, 221) !important;
}
.c5 {
  margin: 2% 5px;
  background-color: rgb(151, 105, 105);
  color: rgb(147, 192, 192) !important;
}